.navbar-static-top {
  margin-top: 100px;
  margin-bottom:20px;
}

i {
  font-size:12px;
}

.nav > li > a {
  color:#fff;
}
.espacio{
  width: 100%;
  height: 80px;
  background: #333;
}
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.color-menu{
  background: #2e353d;
  color: white;


}
.nav-header{
  
   color: #e1ffff;
   padding: 10px;
 border: 1px solid #23282e;
font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  line-height: 20px;

}

/* indent 2nd level */
.list-unstyled li > ul > li {
   
   
  background-color: #181c20;
   list-style: none;
  padding: 0px;
  margin: 0px;
 
  cursor: pointer;
  
}
.list-unstyled li {
  padding: 0px;
  margin: 0px;
  
  
}

.list-unstyled li a{
  color: white;
  text-decoration: none;


 

}
.list-unstyled ul li{
  width: 100%;
  line-height: 35px;
   border-bottom: 1px solid #554;

}

.list-unstyled ul li:hover{
  background-color: #020203;
   
}

.nav-header:hover{
  background: #456;
  
  width: 100%;
  border-left: 3px solid #F39C12;
 
}

.banneradmin{
  width: 100%;
  height: 150px;
  background-color:#2196f3;
  border-color: #2196f3;
  margin-bottom: 15px;
}

.banneradmin h1 {
  padding: 20px;
  text-align: left;
  line-height: 35px;
  color: white;
  font-size: 35px;
}

.banneradmin p{
  padding: 20px;
  text-align: left;
  
  color: white;
  font-size: 25px;

}

.cerrar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

