<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProducto</servlet-name>
        <servlet-class>Servlet.ServletProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarCarrito</servlet-name>
        <servlet-class>Servlet.ServletAgregarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarProducto</servlet-name>
        <servlet-class>Servlet.ServletEliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarPeticion</servlet-name>
        <servlet-class>Servlet.ServletGuardarPeticion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarProducto</servlet-name>
        <servlet-class>Servlet.ServletGuardarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarUsuario</servlet-name>
        <servlet-class>Servlet.ServletGuardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarProductos</servlet-name>
        <servlet-class>Servlet.ServletEditarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActivarProductos</servlet-name>
        <servlet-class>Servlet.ServletActivarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVLETOTAL</servlet-name>
        <servlet-class>Servlet.SERVLETOTAL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProducto</servlet-name>
        <url-pattern>/ServletProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarCarrito</servlet-name>
        <url-pattern>/ServletAgregarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarProducto</servlet-name>
        <url-pattern>/ServletEliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarPeticion</servlet-name>
        <url-pattern>/ServletGuardarPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarProducto</servlet-name>
        <url-pattern>/ServletGuardarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarUsuario</servlet-name>
        <url-pattern>/ServletGuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarProductos</servlet-name>
        <url-pattern>/ServletEditarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActivarProductos</servlet-name>
        <url-pattern>/ServletActivarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVLETOTAL</servlet-name>
        <url-pattern>/SERVLETOTAL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
