{% load static %}
<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
	<title>Login | Compraneta - Affinity</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- V   CSS -->
	<link rel="stylesheet" href="{% static 'login/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/toastr/toastr.min.css' %}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="{% static 'login/assets/css/main.css' %}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/logo-compraneta-login.png' %}">
	{% block extra_css %}
    {% endblock %}
</head>

<body style="width: 100%; background-position: center center; background-repeat: no-repeat; background-size: cover;">
	{% block content %}
	
	{% endblock %}
</body>

	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/vendor/toastr/toastr.js' %}"></script>

{% if messages %}
<script>
// notification popup
	toastr.options.closeButton = true;
	toastr.options.positionClass = 'toast-bottom-right';
	toastr.options.showDuration = 500;
	toastr.options.timeOut = 40000; 
	toastr.options.extendedTimeOut = 6000;
	toastr.options.showMethod = 'slideDown';
	toastr.options.hideMethod = 'slideUp';
	toastr.options.closeMethod = 'slideUp';
	toastr['{{ context }}']('{% for message in messages %}{{ message }}{% endfor %}');
</script>
{% endif %}

{% block extra_js %}
{% endblock %}

</html>
