<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity2"
            android:label="@string/title_activity_maps2"></activity>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/aditapp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/holo_blue_dark" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".CarroCompra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cuartagratis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".desayunos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".caferefil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cafenegro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cupones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".catalogo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".descuentos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lista_productos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".acerca"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spiner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notificaciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MAPAS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivitya"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>